
body {
  background-color: #f7f7f7 !important;
}
.ant-layout-content {
  // background-color: #f7f7f7;
  padding: 0 15px;
  padding-bottom: 30px;
}
.ant-page-header {
  padding: 17px 15px !important;
  background: white;
}