.list-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  a {
    color: #40a9ff !important;
  }
  i {
    padding: 6px;
    border-radius: 100%;
    color: white;
    margin-right: 10px;
  }
  .warning {
    background: #ffc107;
  }
  .check {
    background: #52c41a;
  }
  .alert {
    background-color: #1890ff;
  }
}